<script lang="ts">
	import { setContext } from 'svelte';
	export let api_url: string;
	setContext("api_url",api_url);
	export let url: string = location.pathname;
	let drawerOpen: boolean = false;
	import { Router, Link, Route } from "svelte-routing";
	import TopAppBar, { Row, Section, Title } from '@smui/top-app-bar';
	import IconButton from '@smui/icon-button';
	import Drawer, {
	Title as DrawerTitle,
    Content,
    Header,
    Subtitle,
	Scrim
  } from '@smui/drawer';
  import Button, { Label } from '@smui/button';
  import List, { Item, Text, Graphic, Separator, Subheader } from '@smui/list';
  import { H6 } from '@smui/common/elements';
import Home from './Home.svelte';
import Nearby from "./Nearby.svelte";
import Events from "./Events.svelte";
import JoinEvent from "./JoinEvent.svelte";
let auth0 = null;
let token = null;
import createAuth0Client from "@auth0/auth0-spa-js";
let isAuthenticated:boolean = false;
const configureClient = async () => {  
    auth0 = await createAuth0Client({
      domain: "dev-wop8zm8z.eu.auth0.com",
      client_id: "34oh4Ah8ZFfpWnXi3eP0igiCazMwo7f0",
	  audience: "https://cleantheworld.bazik.xyz"
    });
  };
  window.onload = async () => {
    await configureClient();
	window.localStorage.setItem("token","null");
    updateUI();
  };
  const updateUI = async () => {
    isAuthenticated = await auth0.isAuthenticated();
    if(isAuthenticated){
		//Here show user options
		console.log("Zalogowano")
    }
    else{
		console.log("Nie zalogowano")
        //Here hide user options
    }
    const query = window.location.search;
  if (query.includes("code=") && query.includes("state=")) {
    await auth0.handleRedirectCallback();
    
    updateUI();
    window.history.replaceState({}, document.title, "/");
  }
  token = await auth0.getTokenSilently();
  window.localStorage.setItem("token",token);
  };
  const login = async () => {
    await auth0.loginWithRedirect({
      redirect_uri: window.location.href
    });
	token = await auth0.getTokenSilently();
	window.localStorage.setItem("token",token);
  };
  const logout = () => {
    auth0.logout({
      returnTo: window.location.origin
    });
	window.localStorage.setItem("token","null");
  };
</script>
<Router {url}>
		<main>
			<TopAppBar
			  variant="static"
			  color="primary"
			>
			  <Row>
				<Section>
				  <IconButton class="material-icons" on:click={() => (drawerOpen = !drawerOpen)}>menu</IconButton>
				  <Title>Sprzątanie Świata</Title>
				</Section>
				<Section align="end" toolbar>
				  <IconButton class="material-icons" aria-label="Zaloguj się" on:click={login} style={isAuthenticated?'display:none':''}>person_outline</IconButton
				  >
				  <IconButton class="material-icons" aria-label="Zaloguj się" on:click={logout} style={isAuthenticated?'':'display:none'}>person</IconButton
					>
				</Section>
			  </Row>
			</TopAppBar>
			<Drawer variant="modal" bind:open={drawerOpen}>
				<Header>
				  <DrawerTitle>Sprzątanie Świata</DrawerTitle>
				  <Subtitle>Sprzątaj świat, zanim on sprzątnie Ciebie</Subtitle>
				</Header>
				<Content>
				  <List>
					<Item
					  href="/"
					  activated={url === '/'}
					>
					  <Graphic class="material-icons" aria-hidden="true">home</Graphic>
					  <Text>Strona główna</Text>
					</Item>
					<Item
					  href="/nearby"
					  activated={url === '/nearby'}
					>
					  <Graphic class="material-icons" aria-hidden="true">place</Graphic>
					  <Text>Mapa</Text>
					</Item>
					<Item
					  href="/events"
					  activated={url === '/events'}
					>
					  <Graphic class="material-icons" aria-hidden="true">event</Graphic>
					  <Text>Wydarzenia</Text>
					</Item>
			 
					<Separator />
					<Subheader component={H6}>O aplikacji</Subheader>
					<Item
					  href="https://gitlab.com/cleantheworld/cleantheworld"
					>
					  <Graphic class="material-icons" aria-hidden="true">info</Graphic>
					  <Text>Informacje</Text>
					</Item>
				  </List>
				</Content>
			  </Drawer>
			  <Scrim></Scrim>
			<article>
				<Route path="/"><Home /></Route>
				<Route path="/nearby"><Nearby /></Route>
				<Route path="/events"><Events /></Route>
				<Route path="/events/join"><JoinEvent /></Route>
				<Route path="/events/:id/map"><Nearby /></Route>
			</article>
	</main>
</Router>

<style>
	
</style>