<script lang="ts">
 import { H1 } from '@smui/common/elements';
 import DataTable, { Head, Body, Row, Cell } from '@smui/data-table';
 import IconButton from '@smui/icon-button';
 import Fab, {Icon} from '@smui/fab';
 let actualEvents=[
   {
     "id": "968a079f-16f0-4be5-a878-f7d9de480dce",
     "name":"Testowy",
     "start":1633370329000,
     "end":1633660129000,
     "points":213
   }
 ];
</script>
<H1>Wydarzenia</H1>
<p>Tu znajdziesz wydarzenia, w których bierzesz udział</p>
<p style="color:red"><i>Ta funkcja nie została jeszcze zaimplementowana.</i></p>
<DataTable table$aria-label="Trwające wydarzenia" style="max-width: 100%;">
    <Head>
      <Row>
        <Cell>Nazwa</Cell>
        <Cell>Termin</Cell>
        <Cell numeric>Zdobyte punkty</Cell>
        <Cell>Akcje</Cell>
      </Row>
    </Head>
    <Body>
      {#each actualEvents as e}
      <Row>
        <Cell>{e.name}</Cell>
        <Cell>{new Date(e.start).toLocaleString()} - {new Date(e.end).toLocaleString()}</Cell>
        <Cell numeric>{e.points}</Cell>
        <Cell>
            <IconButton class="material-icons" title="Zobacz mapę" disabled on:click={()=>(location.href=`/events/${e.id}/map`)}>map</IconButton>
            <IconButton class="material-icons" title="Opuść wydarzenie" disabled>logout</IconButton>
        </Cell>
      </Row>
      {/each}
    </Body>
  </DataTable>
  <Fab style="position:fixed; z-index:1; bottom: 20px; right: 20px;" color="primary" on:click={()=>(location.href="/events/join")}>
    <Icon class="material-icons">add</Icon>
  </Fab>