<script lang="ts">
    import { H1 } from '@smui/common/elements';
    import Card, {
    Content,
    PrimaryAction,
    Media,
    MediaContent,
  } from '@smui/card';
</script>
<div>
    <H1>Witaj!</H1>
    <p>Co chcesz dziś zrobić dla dobra naszej planety?</p>
    <div class="card-display">
    <div class="card-container">
    <Card>
        <PrimaryAction on:click={()=>(location.href="/nearby")}>
        <div style="padding: 1rem;">
          <h2 class="mdc-typography--headline6" style="margin: 0;">
            Zbierz śmieci
          </h2>
        </div>
          <Media class="card-media-16x9" aspectRatio="16x9" >
            <MediaContent ><img src="images/collect_trash.jpg" alt="Zbierz śmieci"/></MediaContent>
          </Media>
          <Content class="mdc-typography--body2" style="z-index:1;color:white;background-color:#00000050">
            Znajdź na mapie odpady pozostawione w Twojej okolicy i je posprzataj.
          </Content>
        </PrimaryAction>
      </Card>
    </div>
    <div class="card-container">
      <Card>
          <PrimaryAction on:click={()=>(location.href="/nearby#report")}>
        <div style="padding: 1rem;">
          <h2 class="mdc-typography--headline6" style="margin: 0;">
            Zgłoś pozostawione śmieci
          </h2>
        </div>
        <Media class="card-media-16x9" aspectRatio="16x9" >
          <MediaContent ><img src="images/report_trash.jpg" alt="Zgłoś pozostawione śmieci"/></MediaContent>
        </Media>
          <Content class="mdc-typography--body2" style="z-index:1;color:white;background-color:#00000050">
            Wskaż, gdzie znajdują się śmieci do posprzątania.
          </Content>
        </PrimaryAction>
      </Card>
    </div>
    <div class="card-container">
      <Card>
        <PrimaryAction on:click={()=>(location.href="/events")}>
        <div style="padding: 1rem;">
          <h2 class="mdc-typography--headline6" style="margin: 0;">
            Weź udział w wydarzeniu
          </h2>
        </div>
        
        <Media class="card-media-16x9" aspectRatio="16x9" >
          <MediaContent ><img src="images/join_event.jpg" alt="Weź udział w wydarzeniu"/></MediaContent>
        </Media>
          <Content class="mdc-typography--body2" style="z-index:1;color:white;background-color:#00000050">
            Wspólnie z innymi użytkownikami weź udział w wydarzeniu typu Sprzątanie Lasu i innych.
          </Content>
        </PrimaryAction>
      </Card>
      </div>
      <div class="card-container">
        <Card><PrimaryAction>
          <div style="padding: 1rem;">
            <h2 class="mdc-typography--headline6" style="margin: 0;">
              Utwórz wydarzenie
            </h2>
          </div>
          <Media class="card-media-16x9" aspectRatio="16x9" >
            <MediaContent ><img src="images/create_event.png" alt="Utwórz wydarzenie"/></MediaContent>
          </Media>
            <Content class="mdc-typography--body2" style="z-index:1;color:white;background-color:#00000050">
              Zachęć ludzi w Twojej okolicy do współnego sprzątania.
            </Content>
          </PrimaryAction>
        </Card>
        </div>
      </div>
</div>
<style>
  * :global(.card-display) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  :global(.card-container) {
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 200px;
    width: 350px;
    max-width: 100%;
    padding: 3px;
  }
</style>