<script lang="ts">
    import { H1 } from '@smui/common/elements';
    import { Input } from '@smui/textfield';
  import Paper from '@smui/paper';
  import Fab from '@smui/fab';
  import { Icon } from '@smui/common';
  import IconButton from '@smui/icon-button';
  import Button from '@smui/button';
    let eventCode = '';
</script>
<H1>Dołącz do wydarzenia</H1>
<p style="color:red"><i>Ta funkcja nie została jeszcze zaimplementowana.</i></p>
  <div class="solo-demo-container solo-container">
  <Paper class="solo-paper" elevation={6}>
    <IconButton class="material-icons">qr_code</IconButton>
    <Input
      bind:value={eventCode}
      placeholder="Kod wydarzenia"
      class="solo-input"
    />
  </Paper>
  <Fab
    disabled={eventCode === ''}
    color="primary"
    mini
    class="solo-fab"
  >
    <Icon class="material-icons">arrow_forward</Icon>
  </Fab>
  </div><br/>
  <Button>Utwórz nowe wydarzenie</Button>
  <style>
       .solo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * :global(.solo-paper) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 12px;
    padding: 0 12px;
    height: 48px;
  }
  * :global(.solo-paper > *) {
    display: inline-block;
    margin: 0 12px;
  }
  * :global(.solo-input) {
    flex-grow: 1;
    color: var(--mdc-theme-on-surface, #000);
  }
  * :global(.solo-input::placeholder) {
    color: var(--mdc-theme-on-surface, #000);
    opacity: 0.6;
  }
  * :global(.solo-fab) {
    flex-shrink: 0;
  }
  </style>