<script lang="ts">
	import { H1 } from "@smui/common/elements";
	import L, { LatLng } from "leaflet";
	import "../node_modules/leaflet/dist/leaflet.css";
	import Fab, { Icon } from "@smui/fab";
	import Banner, { Label, CloseReason } from "@smui/banner";
	import Dialog, { Header, Title, Content, Actions } from "@smui/dialog";
	import IconButton from "@smui/icon-button";
	import Button from "@smui/button";
	import Textfield, { Textarea } from "@smui/textfield";
	import CharacterCounter from "@smui/textfield/character-counter/index";
	import { getContext, onMount } from "svelte";

	let addMode: boolean = location.hash == "#report";
	let addDialogOpen: boolean = false;
	let addCoords: LatLng;
	let addDescription: string = "";
	let map;
	const api_url:string = getContext("api_url");
	let loggedIn:boolean = true;
	let not_loggedIn:boolean = false;
	const markers:Array<Object> = [

	];
	let locationMarker: L.Marker;
	function locate() {
		navigator.geolocation.getCurrentPosition(function (position) {
			let lat = position.coords.latitude;
			let long = position.coords.longitude;
			locationMarker.setLatLng([
				position.coords.latitude,
				position.coords.longitude,
			]);
		});
	}
	setInterval(locate, 30000);
	function reloadMarkers(){
		markerLayers.clearLayers();
		fetch(api_url+"/trash",{
			"method":"GET",
			"headers":{"content-type": "application/json","Authorization": `Bearer ${localStorage.token}`}
		}).then((data)=>{
			data.json().then((trashes=>{
				console.log(trashes)
				for(let trash of trashes){
					let m = createMarker(
						[trash.coordinates.latitude, trash.coordinates.longitude],
						"delete",
						["red","orange","green"][trash.status],
						markerPopup(
							trash.photoUrl,
							trash.description,
							trash.status,
							trash.id
						)
					)
					markerLayers.addLayer(m);
				}
			}))
			
		}).catch(()=>{
			console.error("Unable to fetch trashes.")
		})
		fetch(api_url+"/spot",{
			"method":"GET",
			"headers":{"content-type": "application/json","Authorization": `Bearer ${localStorage.token}`}
		}).then((data)=>{
			data.json().then((spots=>{
				console.log(spots)
				for(let spot of spots){
					let m = createMarker(
						[spot.coordinates.latitude, spot.coordinates.longitude],
						"fmd_bad",
						"black",
						markerPopup(
							spot.photoUrl,
							spot.description,
							spot.nextCheckup,
							spots.id
						)
					)
					markerLayers.addLayer(m);
				}
			}))
			
		}).catch(()=>{
			console.error("Unable to fetch spots.")
		})
	}
	function createMap(container) {
		let m = L.map(container, { preferCanvas: true }).locate({
			setView: true,
			maxZoom: 15,
		});
		locationMarker = createMarker(
			[0, 0],
			"my_location",
			"blue",
			"Twoja lokalizacja"
		).addTo(m);
		markerLayers = L.layerGroup();
		L.tileLayer(
			"https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
			{
				attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
	        &copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
				subdomains: "abcd",
				maxZoom: 20,
			}
		).addTo(m);
		m.on("click", openAddDialog);
		locate();
		reloadMarkers();
		return m;
	}
	function openAddDialog(e) {
		if (addMode === false) return;
		addDescription = "";
		addDialogOpen = true;
		addCoords = e.latlng;
	}

	function markerIcon(icon, color) {
		let html = `<div class="map-marker"><i class="material-icons" style="color:${color}">${icon}</i></div>`;
		return L.divIcon({
			html,
			className: "map-marker",
		});
	}
	
	function renderStatusMessage(status,id){
		const statusMessages = [
		`<p>Oczekujące <a style='cursor:pointer' onclick='fetch("$API_URL/trash/$ID/reserve",{"method":"POST","headers":{"Authorization": "Bearer $TOKEN","content-type": "application/json"}}).then(()=>{location.reload()})'>[ZAREZERWUJ]</a> <a style='cursor:pointer' onclick='fetch("$API_URL/trash/$ID/collect",{"method":"POST","headers":{"Authorization": "Bearer $TOKEN","content-type": "application/json"}}).then(()=>{location.reload()})'>[POTWIERDŹ ZEBRANIE]</a></p>`,
		`<p>Zarezerwowane <a style='cursor:pointer' onclick='fetch("$API_URL/trash/$ID/collect",{"method":"POST","headers":{"Authorization": "Bearer $TOKEN","content-type": "application/json"}}).then(()=>{location.reload()})'>[POTWIERDŹ ZEBRANIE]</a></p>`,
		"<p>Zebrane</p>"
		];
		let msg = statusMessages[status];
		msg = msg.replaceAll("$API_URL",api_url);
		msg = msg.replaceAll("$ID",id);
		msg = msg.replaceAll("$TOKEN",localStorage.token);
		return msg;
	}

	
	function markerPopup(image, description, status, id) {
		return `
	<img src="${image}" style="max-width:128px; max-height:128px; display:${image?'block':'none'};"/>
	<div>
	<p>${description}</p>
	${renderStatusMessage(status, id)}
	</div>`;
	}

	function createMarker(loc, ico = "info", color = "black", popup = null) {
		let icon = markerIcon(ico, color);
		let marker = L.marker(loc, { icon });
		marker.bindPopup(popup);
		return marker;
	}

	let markerLayers;
	onMount(async () => {
		map = createMap(document.getElementById("myMap"));
		markerLayers.addTo(map);

		return {
			destroy: () => {
				map.remove();
				map = null;
			},
		};
	})
	function resizeMap() {
		if (map) {
			map.invalidateSize();
		}
	}
	function toggleAddMode() {
		addMode = !addMode;
		if(localStorage.token.length<10){
			addMode=false;
		}
	}
	function checkAuthed(){
		if(localStorage.token){
			loggedIn=localStorage.token.length>10;
			not_loggedIn=!loggedIn;
		}
		else{
			loggedIn=false;
			not_loggedIn=true;
		}
	}
	setInterval(checkAuthed,1000);
	function addDialogCloseHandler(e: CustomEvent<{ action: string }>) {
		if (e.detail.action !== "ok") return;
		fetch(api_url + "/trash/", {
			method: "POST",
			headers: {
				'content-type': 'application/json',
				"Authorization": `Bearer ${localStorage.token}`
			},
			mode: "cors",
			credentials: "omit",
			body: JSON.stringify({
				coordinates: {
					longitude: addCoords.lng,
					latitude: addCoords.lat
				},
				description:addDescription
			}),
		}).then(reloadMarkers);
		addMode = false;
	}
</script>
<svelte:window on:resize={resizeMap}/>
<Banner bind:open={addMode} style="position:fixed; z-index:1">
	<Icon slot="icon" class="material-icons">touch_app</Icon>
	<Label slot="label"
		>Wybierz lokalizację na mapie, aby zgłosić pozostawione odpady.</Label
	>
</Banner>
<Banner bind:open={not_loggedIn} style="position:fixed; z-index:1">
	<Icon slot="icon" class="material-icons">error</Icon>
	<Label slot="label"
		><b>Tylko do odczytu.</b> Nie jesteś zalogowany.</Label
	>
</Banner>
<H1>Mapa</H1>
<div class="map" style="width:100vw; height:80vh; z-index:0" id="myMap"/>
<Fab
	style="position:fixed; z-index:1; bottom: 20px; right: 20px;"
	color="primary"
	on:click={toggleAddMode}
>
	<Icon class="material-icons">{addMode ? "flag" : "outlined_flag"}</Icon>
</Fab>
<Dialog
	bind:open={addDialogOpen}
	fullscreen
	aria-labelledby="fullscreen-title"
	aria-describedby="fullscreen-content"
	on:MDCDialog:closed={addDialogCloseHandler}
>
	<Header>
		<Title id="fullscreen-title">Zgłoś pozostawione odpady</Title>
		<IconButton action="close" class="material-icons">close</IconButton>
	</Header>
	<Content id="fullscreen-content">
		<img
			src="https://place-hold.it/128x128?text=Prześlij%20zdjęcie"
			style="float:left;margin-right:10px;"
			alt="Wybierz zdjęcie"
		/>
		<Textfield
			textarea
			input$maxlength={100}
			bind:value={addDescription}
			label="Opis"
		>
			<CharacterCounter slot="internalCounter">0 / 100</CharacterCounter>
		</Textfield>
	</Content>
	<Actions>
		<Button action="cancel">
			<Label>Anuluj</Label>
		</Button>
		<Button action="ok" defaultAction>
			<Label>Wyślij</Label>
		</Button>
	</Actions>
</Dialog>